* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 20px;
  overflow: auto;
} */

.parent {
  width: 300px;
  border: 2px solid red;
  margin-left: 300px;
}